<h2>About Drinkr</h2>
<p>Drinkr is a free web application to allow people to quickly search the bars in their area, find the best drink specials, and to find events that are going on at these bars. Looking to find a bar with live music? Looking for a cheap beer and no cover? Looking for the nearest dance floor? Drinkr has you covered. It is the place to be able to plan you night of activities.</p>

<p>If you have anymore questions about Drinkr, check out our <a href="/faq">FAQs page</a> or drop us a message on our <a href="/contact">Contact page</a>.</p>

<h3>About the Creators</h3>
<p><b>Michael Skwarcan</b><br />
	Developer and Designer</p>
	
<p>Michael is a 2010 graduate of Purdue University in Computer Graphics Technology. After graduating, he now works at Balcom Agency in Fort Worth, TX as a interactive developer.</p>

<p><b>Tyler James Cain</b><br />
	Marketing Director</p>
	
<p>Tyler began going to school to become and actor and dancer. After living in Chicago, he decided to become a DJ in South Bend, IN. He continues to go to dance battles and pursue his career as an actor.</p>