<h2>FAQs</h2>
<ul class="faq">
<li><a name="top" href="#1">How does it work?</a></li>
<li><a href="#4">What if the search returns no results?</a></li>
<li><a href="#2">How do I search by bar name?</a></li>
<li><a href="#3">What's stopping people from creating fake bars?</a></li>
<li><a href="#5">I found a bar on here and went to the address, but the bar wasn't there.</a></li>
<li><a href="#6">I got to the bar and the drink specials/cover/event was wrong.</a></li>
</ul>

<div class="bg">
<h3><a name="1">How does it work?</a></h3>
<p>Drinkr works completely through the bars willingness to participate. We have simple given the bars the tools to make this work and be successful, but it is ultimately up to the bars to put their information on Drinkr and to keep it up-to-date. Our goal is to make the process as simple as possible and we've made it completely free so the bars really have no reason not to get involved. [<a href="#top">top</a>]</p>

<h3><a name="4">What if the search returns no results?</a></h3>
<p>We only return results for bars that have taken a few minutes to create an account on Drinkr. If no bars show up around your address, next time you go out to the bars, drop a line to the bartender/manager about signing up for Drinkr. Also, feel free to use the contact page to drop us an email with your favorite bar and it's location and we'll do our best to contact the bar and try to get them signed up. [<a href="#top">top</a>]</p>

<h3><a name="2">How do I search by bar name?</a></h3>
<p>If you already know the name of the bar you want to go to, I would suggest searching for it on Google. If you want to know of other bars around that one, simply type in the address of the bar into the search. [<a href="#top">top</a>]</p>

<h3><a name="3">What's stopping people from creating fake bars?</a></h3>
<p>At this point, nothing. Drinkr is still in the beta stages of development and soon we hope to implement some sort of system for bars to be able to get verified. The last thing we want is for people to end up going to a bar that doesn't exist or to show up at a bar and all the information provided by the site to be incorrect. A rating system of the bars is also future possibility or the ability to leave a review on a bar. Like I said, it's in beta at the moment. [<a href="#top">top</a>]</p>

<h3><a name="5">I found a bar on here and went to the address, but the bar wasn't there.</a></h3>
<p>We are sorry about your luck. We currently don't have a system in place to verify that the bar is up and running. It's possible the bar moved to a different area or the bar put in the wrong address. Try calling the bar and if there is no response, use the contact form to tell us which bar it is. [<a href="#top">top</a>]</p>

<h3><a name="6">I got to the bar and the drink specials/cover/event was wrong.</a></h3>
<p>Unfortunately, we have no way to ensure that the information that the bars enter is correct. A rating system and review system is in the plans for the future and through this we can keep bars accountable for updating their information. [<a href="#top">top</a>]</p>
</div>