<div class="block"></div>
<ul><li class="last"><a href="/">Login</a></li></ul>
</div>

<h2>Login</h2>
<form class="infield" id="login" action="/login" method="post">
<p>
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
</p>
<p>
	<label for="password">Password</label>
	<input type="password" name="password" id="password" />
</p>
<p>
	<input type="submit" class="submit" value="Login" />
</p>
</form>

<p><b>Not Registered</b>? Sign up for free <a href="/register">here</a>.</p>

<h3>For Bar Owners/Managers</h3>
	
<p>Simply create and account and begin entering information about your bar. You can then begin entering detailed information like your daily drink specials, if you have cover on certain nights, if you have live music on certain nights, a description of your bar, and more. It's completely free and you have nothing to lose! By not registering, this means your bar will not appear on the search results. It is possible to have multiple bars.</p>