<h2>Create a Bar</h2>
<p>This information is specific to this bar and will be displayed to everyone.</p>

<form action="/create" method="post" id="bar">
	<p>
	<label for="name">Bar Name:</label><br />
	<input type="text" name="bar[name]" id="name" />
	<input type="hidden" name="bar[person_id]" id="name" value="<%= session[:user] %>" />
	</p>
	<p>
	<label for="description">Description: (Optional)</label><br />
	<textarea name="bar[description]" id="description"></textarea>
	</p>
	<p>
	<p>
	<label for="address">Address:</label><br />
	<input type="text" name="bar[address]" id="address" />
	</p>
	<p>
	<label for="city">City:</label><br />
	<input type="text" name="bar[city]" id="city" />
	</p>
	<p>
	<label for="state">State:</label><br />
	<input type="text" name="bar[state]" id="state" />
	</p>
	<p>
	<label for="zip">Zip:</label><br />
	<input type="text" name="bar[zip]" id="zip" />
	</p>
	<p>
	<label for="phone">Phone:</label><br />
	<input type="text" name="bar[phone]" id="phone" />
	</p>
	<label for="url">Website: (optional)</label><br />
	<input type="text" name="bar[url]" id="url">
	</p>
	<p>
	<input type="submit" class="submit" value="Submit" />
	</p>
</form>