<h2>Search Bars</h2>
<form class="infield"  action="/search" id="search" method="post">
	<p>
	<label for="address">Address</label>
	<input type="text" name="bar[address]" id="address" />
	</p>
	<p>
	<label for="city">City</label>
	<input type="text" name="bar[city]" id="city" />
	</p>
	<p>
	<label for="state">State</label>
	<input type="text" class="state" name="bar[state]" id="state" />
	</p>
	<p class="zip">
	<label for="zip">Zip</label>
	<input type="text" class="zip" name="bar[zip]" id="zip" />
	</p>
	<p>
	<input type="submit" class="submit" value="Search" />
	</p>
</form>