<h2>What is Drinkr?</h2>
<p>Drinkr is a completely free web application that allows anyone to type in an address to find bars, drink specials, events and more. All of the information on this site is maintained by participating bars in your area. So get the word out there and tell your favorite bars to put their bar on Drinkr!</p>

<h3>How do I get involved?</h3>
<p><b>For Anyone</b><br />
Simply type in an address and local bars in your area will be displayed along with drink specials and any local events at these bars such as live music. If your favorite bar isn't currently listed, tell them about it or shoot us an email at info@drinkr.com with the bar name and address and we'll do our best to get in contact with the bar.</p>
<p><b>For Bar Owners/Managers</b><br />
Simply create and account and begin entering information about your bar. You can then begin entering detailed information like your daily drink specials, if you have cover on certain nights, if you have live music on certain nights, a description of your bar, and more. It's completely free and you have nothing to lose! By not registering, this means your bar will not appear on the search results. It is possible to have multiple bars.</p>