<img class="homeImage" src="../images/shots.jpg" />
<h2 class="slogan"><span class="highlight">Drinkr</span> helps you find<br /> the best <span class="highlight">bars,</span> cheapest <span class="highlight">drink specials,</span><br /> and most popular <span class="highlight">events</span><br /> in your area for <span class="highlight">free.</span></h2>
<p>All of the information on this site is maintained by participating bars in your area. So get the word out there and tell your favorite bars to put their bar on Drinkr!</p>

<h3>Getting Involved</h3>
<p>If your favorite bar isn't currently listed, tell them about it or shoot us an email at info@drinkr.com with the bar name and address and we'll do our best to get in contact with the bar.</p>
<p><b>For Bar Owners/Managers</b><br />
Simply create and account and begin entering information about your bar. You can then begin entering detailed information like your daily drink specials, if you have cover on certain nights, if you have live music on certain nights, a description of your bar, and more. It's completely free and you have nothing to lose! By not registering, this means your bar will not appear on the search results. It is possible to have multiple bars.</p>