body
{
	margin:0;
	padding:0;
	font-family: Tahoma, Arial;
	height: 100%;
	background:#131513 url('../images/body_bg.jpg') repeat-y center;
}

html
{
	height:100%;
}

h2
{
	font-size:26px;
	font-weight:normal;
	margin:0 0 3px 0;
	padding:0;
	line-height:.7;
}

h3
{
	font-size:18px;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:1;
}

.bg h3
{
	margin:5px 0 0 0;
}

h3.margin
{
	margin:0 0 5px 0;
}

h3 a
{
	text-decoration:none;
	color:#646363;
}

h3 a:hover
{
	text-decoration:underline;
}

a
{
	color:#347ba8;
}

p
{
	font-size:13px;
	color:#4e4e4e;
}

.bg
{
	background:url('../images/p_bg.png');
	position:relative;
	padding:0 10px;
	margin:10px 0;
}

label
{
	font-size:24px;
}

input
{
	font-size:24px;
	height:32px;
	width:286px;
	background:#0E0F0E;
}

textarea
{
	border:#00a1ff solid 2px;
	font-size:14px;
	background:#2d2e2d;
	height:32px;
	height: 140px;
	width:286px;
	color:#646363;
}

.clear
{
	clear:left;
}
/* STRUCTURE */
#wrapper
{
	width:960px;
	margin:0 auto;
}

.topBar
{
	height:50px;
	width:300px;
	padding:0 0 10px 0;
	margin-bottom:10px;
}



#footer
{
	margin-top:20px;
	clear:both;
}

#footerBar
{
	height:36px;
}
/* END STRUCTURE */

/* Sidebar Left Styles */
#sidebar
{
	width:300px;
	float:left;
	padding:0 10px;
	color:#86c02f;
}

h1.header
{
	color:#86c02f;
	font-weight:normal;
	margin:0;
	padding:0;
}

h3.header
{
	color:#67902a;
	font-weight:normal;
	font-size:14px;
	margin:0 0 15px 0;
	padding:0;
	position:relative;
	top:-4px;
}

#sidebar .block
{
	background:#86c02f;
	margin-left:-10px;
	padding:0 12px;
}

#sidebar label
{
	color:#566f34;
}

#sidebar input.submit
{
	background:#191919;
	color:#86c02f;
	border-top:1px solid #212221;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #212221;
}

#sidebar input
{
	border-top:1px solid #000;
	border-bottom:1px solid #262E1C;
	border-right:1px solid #262E1C;
	border-left:1px solid #000;
	color:#86c02f;
}

/* Middle Column Styles */
#main
{
	width:300px;
	padding:0 10px;
	float:left;
	color:#386482;
}

h2.slogan
{
	color:#3a7ba7;
	font-size:14px;
}

.highlight
{
	line-height:1.5;
	font-size:22px;
	padding:0 7px;
	border-top:1px dotted #2b363e;
	border-bottom:1px dotted #111112;
	border-right:1px dotted #111112;
	border-left:1px dotted #2b363e;
}

#main .block
{
	background:#4191E8;
	margin-left:-8px;
}

#main .bg
{
	width:296px;
	left:-8px;
	border-top:1px solid #0f1214;
	border-bottom:1px solid #252d33;
}

#main label
{
	color:#386482;
}

#main .topBar ul li a
{
	color:#386482;
}

#main input.submit
{
	background:#386482;
}

#main input
{
	border:#386482 solid 2px;
	color:#386482;
}

hr.mainBar
{
	width:316px;
	position:relative;
	left:-8px;
	border-top:1px solid #0f1214;
	border-bottom:1px solid #252d33;
	color:transparent;
	margin:0;
}

h2.newBars
{
	margin:10px 0;
}

.newBars p
{
	font-size:12px;
	margin:0 0 0 10px;
	padding:5px;
}

.newBars a
{
	font-size:14px;
}

/* Sidebar Right Styles */

#right
{
	width:300px;
	float:left;
	padding:0 0 0 15px;
	color:#673f75;
}

#right .block
{
	background:#9a48b5;
	margin-left:-16px;
}

#right label
{
	color:#483150;
}

#right .topBar ul li a
{
	color:#673f75;
}

#right input.submit
{
	background:#191919;
	color:#8a4e9f;
	border-top:1px solid #212221;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #212221;
}

#right input
{
	border-top:1px solid #000;
	border-bottom:1px solid #362d3a;
	border-right:1px solid #362d3a;
	border-left:1px solid #000;
	color:#9a48b5;
}

#right .bg
{
	width:299px;
	left:-16px;
	border-top:1px solid #130f14;
	border-bottom:1px solid #2f2533;
}

.pink
{
	color:#673f75;
}

/* HEADER STYLES */
.topBar ul
{
	padding:0;
	float:right;
	margin:0;
}

.topBar ul li
{
	list-style-type:none;
	float:left;
	font-size:14px;
	margin:5px 22px 0 0px;
}

.topBar ul li.last
{
	margin-right:10px;
	position:relative;
	left:-2px;
}

.topBar ul li a
{
	font-weight:bold;
	text-decoration:none;
}

.block
{
	height:5px;
	width:100%;
	padding:0 10px;
}

.topBar ul li a:hover
{
	color:#fff;
}

/* END HEADER STYLES */

/* FORM STYLES */


label.error
{
	background:#ff7171;
	color:#011815;
	font-size:12px;
	position:absolute;
	top:55px;
	left:0px;
	padding:6px 10px;
	z-index:1;
}

#bar label.error
{
	top:67px;
}

input.error
{
	border:2px solid #ff7171;
	color: #ff7171;
}

form.infield label
{
	position:absolute; 
	top:2px; 
	left:5px;
}

.formInfo
{
	color:#646363;
	font-size:12px;
}

input.state
{
	width:120px;
}

p.zip
{
	left:140px;
	top:-52px;
	margin-bottom:-55px;
	width:146px;
}

form#bar p.zip
{
	left:140px;
	top:-82px;
	margin-bottom:-85px;
}

input.zip
{
	width:146px;
}

label.web
{
	color:#646363;
}

input.web
{
	width:237px;
}

input.submit
{
	font-size:24px;
	height:34px;
	width:180px;
}


.checkbox
{
	position:relative;
	top:-8px;
	left: 4px;
}

form p 
{ 
	position:relative;
}

/* END FORM STYLES */

/* FLASH MESSAGES */
.flash
{
	padding:4px;
	margin:0 0 10px 0;
}
.flash img
{
	float:left;
	height:100%;
	margin-right:3px;
}
.flash p
{
	color:#011815;
	margin:0;
}

.sessionError
{
	background:#ffaeae;
	border:1px solid #ff7171;
}

.success
{
	background:#cbfcb0;
	border:1px solid #72bc4a;
}

/* END FLASH STYLES */

/* SEARCH STYLES */

.searchBar
{
	font-size:12px;
	color:#646363;
}

.searchBar p
{
	padding:0 10px;
	margin:5px 0 4px 0;
	font-size:14px;
	color:#ee006a;
}

.searchBar .special
{
	margin:5px 0;
	padding:3px 10px 6px;
}

.drink_price
{
	float:right;
	font-size:24px;
}

.searchBar .special:nth-child(2n)
{
	background:#2d2e2d;
}

h2.distance
{
	padding-top:5px;
	float:right;
	font-size:32px;
}

.results .bar
{
	position:relative;
	padding:10px 10px 0 10px;
	left:-8px;
	width:296px;
	padding:0px 10px 10px;
	height:80px;
}

.results .bar:nth-child(2n) {
  	background:url('../images/p_bg.png');
	border-top:1px solid #0f1214;
	border-bottom:1px solid #252d33;
	margin:10px 0;
	padding:10px 10px 20px;
}

.results .bar:nth-child(2n) h3 a
{
	color:#4e4e4e;
}
/* END SEARCH STYLES */

/* BAR PAGE STYLES */
.subnav
{
	float:left;
	font-size:12px;
}

.subnav h3
{
	font-size:18px;
}

.bar p
{
	margin:0;
}

.bar h3
{
	font-size:20px;
	margin-right:10px;
	width:150px;
}

p.noMargin
{
	margin:0;
}

p.info
{
	margin-right:40px;
}

.links
{
	float:right;
}

.left
{
	float:left;
}

.bar .links a
{
	text-align:right;
}

table.hours tr:nth-child(2n) {
  background-color: #2d2e2d;
}

table.hours
{
	color:#011815;
	font-size:14px;
	margin-top:30px;
}

table.hours th
{
	text-align:left;
}

table.hours td
{
	vertical-align:top;
	padding-right:10px;
}

/* END BAR PAGE STYLES */

/* DETAILS PAGE */

table#details
{
	width:375px;
	color:#E1D9C2;
	margin:7px 0;
	font-size:14px;
}

table th
{
	color:#646363;
	font-size:14px;
}

table#details input
{
	width:60px;
	font-size:20px;
	height:24px;
	font-size:14px;
}

input.box
{
	width:45px !important;
}

form.details p
{
	margin:0;
}

form.details h3
{
	margin-top:10px;
}

td.price
{
	width:75px;
}

p.event
{
	margin:10px 0 !important;
}

p.event input
{
	width:auto;
}


/* END DETAILS PAGE */

/* SPECIALS PAGE */

table#specials
{
	margin-top:20px;
}

table#specials td
{
	padding:0 20px 0 0;
}

table#specials td.price
{
	padding:0;
}

table#specials input.drink
{
	width:190px;
}

table#specials input.price
{
	width:70px;
}

ul.specials
{
	list-style-type:none;
	padding:0;
	margin:7px;
}

ul.specials li
{
	color:#646363;
	font-size:14px;
}

/* END SPECIALS PAGE */

/* FAQs PAGE STYLES */

ul.faq
{
	padding-left:15px;
	list-style-type:square;
}

ul.faq li
{
	margin: 3px 0;
}

/* END FAQs PAGE STYLES */

/* FOOTER STYLE */

#footer img.footer
{
	margin-top:-240px;
	position:relative;
	top:4px;
}

#footer p
{
	margin:0;
	color:#FFF6DE;
	text-align:right;
	position:relative;
	top:10px;
	left:-5px;
}

/* END FOOTER STYLES */